{% extends 'base.html' %}

{% block title %}<title>Demo Application</title>{% endblock %}

{% block title_js %}  {% endblock %}

{% block content %}
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href=" ">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Home Page</li>
      </ol>
      <div class="row">
        <div class="col-12">
          <h1>Demo Application</h1>
          <p>Place Your Content here!!!!</p>
        </div>
      </div>
    </div>
{% endblock %}
{% block js-foot %}

	<!-- JS page specific-->

	{% endblock %}
